<h2>Patios GOLMEX</h2>

<select id="selectPatio">
    <option value="">Selecciona un patio</option>
</select>

<button onclick="Lienzo.RestaurarTamano()" class="btn btn-primary">Tamaño Original</button>

<div id="container" style="width:1200px; height:800px; border:1px solid black; margin-top:10px;"></div>

